.search-bar {
  display: flex;
  width: 80%;
  margin: 0 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.search-bar input {
  flex: 1;
  border: none;
  background: none;
  padding: 10px 20px;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  padding: 10px;
  border-radius: 40%;
  font-size: 16px;
  transition: background-color 0.3s
}

.search-bar button:hover {
  transform: translateY(-2px)
}

.search-bar button:active {
  background-color: #f0f0f0;
}
