.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -5rem;
}

.login-form {
    max-width: 650px;
    width: 90%;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    min-height: 300px;
    height: auto;
    padding: 20px;
}

.no-account-text {
    margin-top: 1.5rem;
    padding: 0px 10px 5px 10px;
}

.no-account-text a {
    text-decoration: underline;
    color: blue;
}

.no-account-text a:hover {
    cursor: pointer;
}
