.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  max-width: 650px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: none;
  border: none;
  cursor: pointer;
}

/* Mobile modal styling */
@media (max-width: 767px) {
  .modal-main {
    width: 95%;
  }
}
