.form-input {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.form-input input {
    width: 100%;
    padding: 0.5rem 1rem;
    background: none;
    outline: none;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.form-input label {
    position: absolute;
    transform: translateY(1.8rem) translateX(1rem);
    background-color: white;
    padding: 0 0.25rem 0 0.25rem;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: gray;
}

.row-title {
    flex: 1;
    display: flex;
    text-wrap:nowrap;
    text-align: left;
    overflow:auto;
}

.form-row p {
    font-size: 1.2em;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
}

@media (max-width: 767px) {
    .form-input {
        width: 60%;
    }
    .form-input p {
        width: 40%;
    }
}

